@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.
    </p>

    <!-- Add a picture -->
    <img src="images/pandas1.jpg" alt="pandas 1" class="gallery-item">
    <img src="images/pandas2.jpg" alt="pandas 2" class="gallery-item">
    <img src="images/pandas3.jpg" alt="pandas 3" class="gallery-item">
    <img src="images/pandas4.jpg" alt="pandas 4" class="gallery-item">
    <img src="images/pandas5.jpg" alt="pandas 5" class="gallery-item">
    <img src="images/pandas6.jpg" alt="pandas 6" class="gallery-item">
    <img src="images/pandas7.jpg" alt="pandas 7" class="gallery-item">
    <img src="images/pandas8.jpg" alt="pandas 8" class="gallery-item">
    <img src="images/pandas9.jpg" alt="pandas 9" class="gallery-item">
</div>
