@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Here is detailed explanation of the Privacy Policy my team belives in.</p>

<!-- Add a big box -->
<div class="privacy-box">
    No Privacy Policy Whoops Hehe :3
</div>
